# Ignore virtual environment
venv/
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore dataset files
*.csv
*.tsv
*.json
*.xlsx
data/

# Ignore logs and cache
logs/
*.log
*.pkl
*.joblib
*.h5
*.onnx
*.model

# Ignore environment settings
.env
config.yaml
